body{
    background-color: #ccdbfd;
}

table, th, td {
    border: 0.5px solid black;
    border-spacing: 15px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}
header{
    border-top: solid;
    border-bottom: ridge;
    margin-bottom: 40px;
    margin-top: 3px;
    padding-bottom: 5px;
}
h1{
    font-family: 'Indie Flower', cursive;
    font-size: 300%;
    font-weight: bolder;
    float: left;
    margin-top: 9px;
    margin-bottom: 0px;
}
h1,h2,th,td{
    color: #1b263b;
}
h2,h3{
    font-family: 'Fira Sans', sans-serif;
    font-size: 150%;
    font-weight: bolder;
    margin-bottom: 20px;
}
table{
    font-size: 120%;
}
td,th{
    padding: 10px;
}
th{
    font-weight: bold;
}
ul{
    list-style-type: disc;
    margin-left: 40px;
    font-size: 120%;
}
li{
    margin-bottom: 20px;
}
span{
    font-size: 60%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    overflow: hidden;
    font-weight: bold;
}
  
nav ul li {
    float: left;
    font-family: 'Fira Sans', sans-serif;
}
  
nav ul li a {
    display: block;
    padding: 20px;
    padding-left: 70px;
    padding-right: 50px;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
}

  .left-col{
      float: left;
      width: 80%;

  }
  .left-col img:first-of-type{
      width: 25%;
      height: 290px;
      margin-right: 5px;
  }

  .left-col img:nth-of-type(2){
      width: 74%;
      height: 290px;
      float: right;
  }
  .left-col img:nth-of-type(3){
      width: 30%;
  }
 .left-col img:nth-of-type(4){
    width: 69%;
    margin-left: 1%;
 }

 .left-col img:nth-of-type(5){
    width: 21%;
 }
 .left-col img:nth-of-type(6){
    width: 49%;
 }
 .left-col img:nth-of-type(7){
    width: 30%;
 }
 .right-col {
     float: right;
     width: 19%;
     font-family: 'Fira Sans', sans-serif;
     font-size: 25px;
     color: #1b263b;
     border-left: solid;
     padding-left: 10px;
 }
 main a{
     text-decoration: none;
     font-size: 25px ;
 }
 main h3{
     margin-top: 30px;
 }